@import url('./styles/reset.less');
@import url('./styles/theme.less');
@import url('./styles/font.less');

#water-mark {
  background-repeat: repeat, repeat;
  background-position: 112.5px 112.5px, 0 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  pointer-events: none;
  z-index: 9999;
  opacity: 0.17;
}
